//- this is comment, it start with two / and -

html
    head
        title= title
        link(href= cssLink rel="stylesheet" type="text/css")
    body
        h1= header
        h1 Hello #{header} !
        p= paragraphText
        p this is hardcoded text in paragraph
        p(style="color: red; font-weight: bold") this is hardcoded text #{paragraphText} this is also hardcoded text

        if showHidden
            div(style="color: red") my hidden text
        else
            div(style="color: green") my normal text

        div(class="container")
            div(class="box")
                span(id="my_span") this is text in span

        img(src= img.link width= img.width height= img.height alt= img.altText)

        ul
            each val in letters
                li= val
